<header>

    <div id="logo-container">
        <%= image_tag 'logo.png', alt: "LOGO" %>
    </div>

    <div id="link-container">
        <h1 id="heading">FF Mollmannsreith > FFwolfern 💔</h1>
    </div>

    <div id="profile-container">
        <span>Willkommen, <%= Current.user.full_name %></span>
        <%= button_to "Abmelden", session_path, method: :delete %>
    </div>
</header>