<div id="heading-container">
    <h1 class="heading">
        <div class="letter">M</div>
        <div class="letter">o</div>
        <div class="letter">l</div>
        <div class="letter">l</div>
        <div class="letter">m</div>
        <div class="letter">a</div>
        <div class="letter">n</div>
        <div class="letter">n</div>
        <div class="letter">s</div>
        <div class="letter">r</div>
        <div class="letter">e</div>
        <div class="letter">i</div>
        <div class="letter">t</div>
        <div class="letter">h</div>
        <div class="letter"> </div>
        <div class="letter">&gt;</div>
        <div class="letter"> </div>
        <div class="letter">W</div>
        <div class="letter">o</div>
        <div class="letter">l</div>
        <div class="letter">f</div>
        <div class="letter">e</div>
        <div class="letter">r</div>
        <div class="letter">n</div>
    </h1>

    <h1 class="heading">
        <div class="letter">H</div>
        <div class="letter">ü</div>
        <div class="letter">h</div>
        <div class="letter">n</div>
        <div class="letter">e</div>
        <div class="letter">r</div>
        <div class="letter">g</div>
        <div class="letter">e</div>
        <div class="letter">s</div>
        <div class="letter">c</div>
        <div class="letter">h</div>
        <div class="letter">r</div>
        <div class="letter">e</div>
        <div class="letter">i</div>
        <div class="letter"> </div>
        <div class="letter">&gt;</div>
        <div class="letter"> </div>
        <div class="letter">W</div>
        <div class="letter">o</div>
        <div class="letter">l</div>
        <div class="letter">f</div>
        <div class="letter">e</div>
        <div class="letter">r</div>
        <div class="letter">n</div>
    </h1>

    <%= link_to "Benutzer", users_path %>
</div>

