<div id="heading-container">
    <h1 id="heading">FF Mollmannsreith > FF Wolfern</h1>
    <h1 id="heading">FF Hühnergeschrei > FF Wolfern</h1>
    <h1 id="heading">FF Rohrbach > FF Wolfern</h1>
    <h1 id="heading">FF St. Martin > FF Wolfern</h1>
    <h1 id="heading">FF Haslach > FF Wolfern</h1>
</div>

