header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 20vh;

    background-color: brown;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20vw;
    height: 20vh;
}

#link-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /*space between if more links*/
    align-items: center;

    width: 60vw;
    height: 20vh;
}

#heading {
    margin: 0;
    padding: 0;
    
    font-family: "Yu Gothic Light";
    font-weight: 400;
    font-size: 5vh;
}

#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20vw;
    height: 20vh;
}