#heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 80vh;
}

#heading {
    margin: 0;
    padding: 0;
    
    font-family: "Yu Gothic Light";
    font-weight: 800;
    font-size: 5vh;
}