#heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 80vh;
}

.heading {
    margin: 0;
    padding: 0;
    
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
}